<!doctype html>
<html>
    <head>
        <title>BrewingHelper</title>
        <link rel="stylesheet" href="{{ style }}" />
    </head>
    <body>
        <div id="container">
            <h1>Current temperature</h1>
            <label>Desirable temperature<input id="desirableTemperature" type="number" value="25"/></label>
            <label>Tolerance<input id="tolerance" type="number" value="2"/></label>
            
            <p id="current-temperature"></p>

            <audio src=""></audio>
        </div>

        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="{{ javascript }}"></script>
    </body>
</html>
